

<!--INFORMACION PERSONAL-->
<div *ngFor="let persona of personas" class="container-lg ">

  <div class="row">
    <div class="col-3">
      <!--Imagen Personal-->
      <img *ngIf="mostrar" src="../assets/foto.png" class="img-fluid img_thumbnail foto-pers" alt="Foto personal">
      <label *ngIf = "esconder" >Url de la imagen</label>
      <input *ngIf = "esconder" type="text" class="form-control" value = {{persona.fotopers}}>

    </div>


    <!--Campos de información Personal-->

    <div class="col-9">
      <div class="row">
        <div class="col-6">
          <div class="fs-2 text lh-lg border-bottom text-primary">
            <h3>Acerca de...</h3>
          </div>
        </div>
        <div class="col-6">
          <!--Boton Guardar Bloque Experiencia-->
          <button type="button" class="btn btn-success float-end btn-top">Guardar
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2-fill"
              viewBox="0 0 16 16">
              <path
                d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v6h-2a.5.5 0 0 0-.354.854l2.5 2.5a.5.5 0 0 0 .708 0l2.5-2.5A.5.5 0 0 0 10.5 7.5h-2v-6z" />
            </svg>
          </button>

          <!--Boton editar-->
          <button type="button" class="btn btn-primary  float-end btn-top " (click)="cambiarInput()">Editar
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
              viewBox="0 0 16 16">
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
            </svg>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="fs-6 text">
          <span *ngIf="mostrar">{{persona.resumen}}</span>

          <textarea *ngIf = "esconder" rows = "5" type="text" class="form-control" value = {{persona.resumen}}></textarea>
        </div>
      </div>
    </div>
  </div>
</div>


