<app-editar-acercade *ngIf="esconder" (switchEd)="cambiarInput()"></app-editar-acercade>

<!--INFORMACION PERSONAL-->
<div *ngFor="let persona of personas" class="container ">

  <div *ngIf="mostrar" class="row justify-content-start">
    <div class="col-lg-3 ">
      <!--Imagen Personal-->
      <div class="container card text-center  align-items-center border-0">
        <img *ngIf="mostrar" src="{{persona.fotopers}}" class="foto-pers " alt="Foto personal">
</div>
<div class="card  text-center border-0">
        <h4>{{persona.nombre}} {{persona.apellido}}</h4>
        <h5>{{persona.email}}</h5>
        <h5><a href={{persona.link}}>{{persona.link}}</a></h5>
      </div>
    </div>
    <!--Campos de información Personal-->
    <div class="col-lg-9">
      <div class="row">
        <div class="col">
          <div class="fs-2 text lh-lg border-bottom text-primary">
            <h3>Acerca de...</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="fs-6 text">
          <span *ngIf="mostrar">{{persona.resumen}}</span>
        </div>
      </div>

      <div class="row row-bottom">
        <div class="col">
          <!--Boton editar-->
          <button type="button" class="btn btn-primary float-end" (click)="editar(persona)"
            (click)="cambiarInput()">Editar
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
              viewBox="0 0 16 16">
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>